.project1{
    background-image: url('../assets/beverlyhills/Living\ 1.jpg');
}
.project2{
    background-image: url('../assets/beverlyhills/lounge_02_PS_T.tif.png');
}
.project3{
    background-image: url('../assets/beverlyhills/salon_F_03_p.png');
}
.project4{
    background-image: url('../assets/beverlyhills/04_Kitchen_edited.jpg');
}
.project5{
    background-image: url('../assets/beverlyhills/002_Sunset\ Patio.png');
}
.project6{
    background-image: url('../assets/beverlyhills/001_ps\ Patio.png');
}