.project1{
    background-image: url('../assets/corona/JasmineMaster2.jpg');
}
.project2{
    background-image: url('../assets/corona/JasmineBath1Gama.jpg');
}
.project3{
    background-image: url('../assets/corona/4-\ Kitchen.jpg');
}
.project4{
    background-image: url('../assets/corona/2-Living.jpg');
}
.project5{
    background-image: url('../assets/corona/14A\ -\ Office.jpg');
}
.project6{
    background-image: url('../assets/corona/14\ -\ Media\ Room.jpg');
}
.project7{
    background-image: url('../assets/corona/1-Living\ outdoor.jpg');
}