.project1{
    background-image: url('../assets/danapoint3/stairs.jpg');
}
.project2{
    background-image: url('../assets/danapoint3/close\ shot.jpg');
}
.project3{
    background-image: url('../assets/danapoint3/Dining.jpg');
}
.project4{
    background-image: url('../assets/danapoint3/Living.jpg');
}
.project5{
    background-image: url('../assets/danapoint3/Living\ 1.jpg');
}
.project6{
    background-image: url('../assets/danapoint3/mb2.jpg');
}
.project7{
    background-image: url('../assets/danapoint3/bedroom#2B.jpeg');
}
