
.project1{
    background-image: url('../assets/danapoint/cdm6-1-l.jpg');
}
.project2{
    background-image: url('../assets/danapoint/Deck\ View.png');
}
.project3{
    background-image: url('../assets/danapoint/Full\ House\ View\ Clouds.png');
}
.project4{
    background-image: url('../assets/danapoint/Kitchen\ Interior\ 1.png');
}
.project5{
    background-image: url('../assets/danapoint/LIving\ 2.png');
}