.project1{
    background-image: url('../assets/danapoint2/crop_box_02.png');
}
.project2{
    background-image: url('../assets/danapoint2/fireplace_night_mood.png');
}
.project3{
    background-image: url('../assets/danapoint2/Front\ facia\ Wood.png');
}
.project4{
    background-image: url('../assets/danapoint2/H\ Back\ view.png');
}
.project5{
    background-image: url('../assets/danapoint2/H\ Living.png');
}
.project6{
    background-image: url('../assets/danapoint2/Outdoor\ Living\ Mondrian1.png');
}
.project7{
    background-image: url('../assets/danapoint2/Room_\ B.png');
}