.project1{
    background-image: url('../assets/hawaii/2\ \(39\).jpg');
}
.project2{
    background-image: url('../assets/hawaii/324Lumion\ 10\ Pro\ 正版授权.jpg');
}
.project3{
    background-image: url('../assets/hawaii/347.jpg');
}
.project4{
    background-image: url('../assets/hawaii/3\ \(20\).jpg');
}
.project5{
    background-image: url('../assets/hawaii/4343435Lumion\ 10\ Pro\ 正版授权.jpg');
}
.project6{
    background-image: url('../assets/hawaii/test\ \(3\).jpg');
}