.project1{
    background-image: url('../assets/laguna/Marciano Deck.jpg');
}
.project2{
    background-image: url('../assets/laguna/20181127_201929.jpg');
}
.project3{
    background-image: url('../assets/laguna/Living.jpg');
}
.project4{
    background-image: url('../assets/laguna/Living\ 2.jpg');
}
.project5{
    background-image: url('../assets/laguna/Marciano.jpg');
}
.project6{
    background-image: url('../assets/laguna/MASSAGE\ ROOM\ 06.jpg');
}
.project7{
    background-image: url('../assets/laguna/Stairs.jpg');
}