.project1{
    background-image: url('../assets/laguna4/kitchen\ \(4\).png');
}
.project2{
    background-image: url('../assets/laguna4/living_01.png');
}
.project3{
    background-image: url('../assets/laguna4/living_02.png');
}
.project4{
    background-image: url('../assets/laguna4/living_03.png');
}