.project1{
    background-image: url('../assets/laguna2/3 (1).png');
}
.project2{
    background-image: url('../assets/laguna2/4\ \(11\).jpg');
    background-position: bottom!important;
}
.project3{
    background-image: url('../assets/laguna2/5.png');
}
.project4{
    background-image: url('../assets/laguna2/View\ 2\ Final.png');
}
.project5{
    background-image: url('../assets/laguna2/View_02_PS.png');
}
.project6{
    background-image: url('../assets/laguna2/View_05_PS.png');
}