.project1{
    background-image: url('../assets/sofitel1/3569_roskd_00_p_1024x768.jpg');
}
.project2{
    background-image: url('../assets/sofitel1/3569_sm_00_p_1024x768_edited.jpg');
}
.project3{
    background-image: url('../assets/sofitel1/38770585_2273914619316186_702249581215219712_o_edited.jpg');
}
.project4{
    background-image: url('../assets/sofitel1/image00003_edited.jpg');
}
.project5{
    background-image: url('../assets/sofitel1/RAK-Sofitel-Marrakech-17_edited.jpg');
}