.project1{
    background-image: url('../assets/sofitel2/49058201_2547100368664275_9085660907010260992_o.jpg');
}
.project2{
    background-image: url('../assets/sofitel2/57174891_2793939437313699_2789776808612986880_o_edited.jpg');
}
.project3{
    background-image: url('../assets/sofitel2/72488845_3481135871927382_3612071601924734976_o_edited.jpg');
}
.project4{
    background-image: url('../assets/sofitel2/78573857_3481134791927490_5011057224642985984_o.jpg');
}
