body{
    font: normal normal normal 15px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;;
}
.nav-link{
    color: #000;
    padding: 0;
}

.active{
    background-color: #d1d1d1;
}

.nav-item:hover{
    background-color: #d1d1d1;
    transition-duration: .5s;
}

.nav-link:hover{
    color: #000;
}

.project{
    width: 100%;
    height: 34vh;
}

@media screen and (min-width: 1000px) {
    .project{
        width: 100%;
        height: 40vh;
    }
    .project-image{
        position: relative;
        top: -10%;
    }
  }

.project-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.project:hover .project-name{
    opacity: 1;
}

.project-name{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: rgba(36, 36, 36, 0.62);
    border-radius: 0;
    padding: 0;
    transition: opacity 0.4s ease 0s;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.project-name h2{
    font-size: 2.5vw;
    color: #ffe30f;
    line-height: 1.3em;
}
.project-name h3{
    font-size: 1vw;
    color: #ffe30f;
    line-height: 1.3em;
}

footer{
    margin-top: 8vh;
    margin-bottom: 10vh;
}

.contact-section .form-control{
    border: 1px solid  #2fbfbc;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }
  footer h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    letter-spacing: 1.25px;
    margin-top: 0;
  }
  .contact-fields {
    padding: 40px 0 0;
  }
  .phone {
    padding-top: 50px;
  }
  .phone,
  .email,
  .working-hours {
    margin-bottom:30px;
  }
  .phone a,
  .email a,
  .location a {
    color: #fd4f00;
    font-size:18px;
  }
  .contact-h2 {
    color: #fd4f00;
    padding-top:20px;
  }
  .contact-fields .form-group {
    margin-bottom: 35px;
  }
  .contact-info {
    margin-top: -40px;
  }
  .contact-fields .form-group input,
  .contact-fields .form-group textarea {
    font-size: 16px;
  }
  .location a.btn.btn-accent {
    padding: 12px 26px 10px;
    margin-top: 30px;
    font-size: 16px;
  }
  .location a.btn.btn-accent img {
    margin-right: 20px;
  }
  .location hr {
    margin-bottom: 10px;
  }
  .btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
  }
  .btn.btn-accent {
    background: #2fbfbc;
    color: white;
  }
  .btn.btn-accent:hover {
    background: #269694;
  }
  .ct-newsletter-section .container {
    width: 100%;
    max-width: 1360px;
  }
  .ct-section-head,
  .ct-section-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 45px;
    letter-spacing: 1.25px;
    margin-bottom: 5px;
  }
  .ct-section-header {
    text-align: center;
  }
  .ct-newsletter-inline {
    display: table;
    width: 100%;
    color: white;
    margin: 69px 0 138px;
    text-align: center;
  }
  .ct-newsletter-inline__facebook {
    background-color: #3b5997;
  }
  .ct-newsletter-inline__facebook, .ct-newsletter-inline__twitter {
    width: 16%;
  }
  a {
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
  }
  .ct-newsletter-inline__facebook i, .ct-newsletter-inline__twitter i {
    font-size: 109px;
    padding-top: 25px;
  }
  .ct-newsletter-inline__facebook span, 
  .ct-newsletter-inline__twitter span {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    display: block;
    padding-top: 15px;
  }
  .ct-newsletter-inline__twitter {
    background-color: #2fc2ee;
  }
  .ct-newsletter-inline__facebook, 
  .ct-newsletter-inline__twitter {
    width: 16%;
    padding-top: 25px;
  }
  .ct-newsletter-inline__form {
    background-color: #fd4f00;
    padding: 24px;
  }
  .ct-newsletter-inline__form .ct-newsletter {
    text-align: left;
    width: 100%;
    max-width: 668px;
    margin: 0px auto;
  }
  .ct-newsletter-inline__form .form-inline {
    display: table;
    width: 100%;
    height: 65px;
  }
  .ct-newsletter-inline__form .form-inline input {
    width: 50%;
    width: calc(100% - 137px);
    padding: 0 40px;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #111f1d;
    text-transform: uppercase;
  }
  .ct-newsletter-inline__form .form-inline input, 
  .ct-newsletter-inline__form .form-inline .btn {
    display: table-cell;
    vertical-align: middle;
    height: 65px;
    border: none;
    margin: 0;
  }
  .ct-newsletter-inline__form .form-inline .btn {
    width: 137px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding-left: 0;
    padding-right: 3px;
    text-align: center;
  }
  .ct-newsletter-inline__form .form-inline input, .ct-newsletter-inline__form .form-inline .btn {
    display: table-cell;
    vertical-align: middle;
    height: 65px;
    border: none;
    margin: 0;
  }
  .btn.btn-dark {
    background: #111f1d;
    color: white;
  }
  .btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
  }
  @media screen and (min-width: 980px) {
    .contact-info {
      padding-left: 110px;
    }
  }